*.pyc
tmp.txt
conda_packages.txt
train_beir_msmarco.py

.ipynb_checkpoints

/Data/*
!/Data/synonym_sentence_pairs.json

/datasets/*

/Embeddings/*

/Models/*
!/Models/Finetuned/
Models/Finetuned/*
!/Models/Finetuned/SPubMedBERT-v1-nfcorpus

!/Models/Finetunedv1/
Models/Finetunedv1/*
!Models/Finetunedv1/SPubMedBERT

!/Models/Finetunedv2/
Models/Finetunedv2/*
!/Models/Finetunedv2/SPubMedBERT